@import 'base';
@import '~bootstrap/scss/bootstrap.scss';
@import '~font-awesome/css/font-awesome.min.css';
@import url('https://fonts.googleapis.com/css?family=Signika:regular,bold,italic&subset=latin,latin-ext');

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

table {
  margin-left: auto;
  margin-right: auto;
}
th {
  text-align: center;
}
