#main {
  text-align: center;
}

#logo {
  max-width:320px;
  width: auto;
}
h1 {
  font-family: Signika;
  font-size: 40px;
  padding-top: 8px;
}
h4 {
  font-family: Signika;
  font-size: 20px;
  margin-top: 8px;
}
input {
  width: 250px;
  margin: 0px 4px 16px 0px;
  font-size: 20px;
  height: auto;
  vertical-align: top;
}
button {
  vertical-align: top;
  height: 36px;
  width: 36px;
}
p {
  max-width: 320px;
}
