#main {
  text-align: center;
}

#logo {
  max-width:320px;
  width: auto;
}
h1 {
  font-family: Signika;
  font-size: 40px;
  padding-top: 8px;
}
h4 {
  font-family: Signika;
  font-size: 20px;
  margin-top: 8px;
}
input {
  width: 300px;
  margin: 8px 0px 8px 0px;
}
p {
  max-width: 320px;
}
